#container{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
#bot_section{
	margin-top: 40px;
	position: relative;
}

.course-levels{
	width: 50px;
}
table.courses-table tr td{
	vertical-align: middle;
}
table.table-badges tr td{
	vertical-align: middle;
}
img.badges-img{
	width: 80px;
	height: auto;

}
.progress{
	max-width: 150px;
}