*{
	padding: 0px;
	margin:0px;
}
ul li{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navbar{
	border-radius: 0px;
}
.logo{
	background: #f50;
	color: #fff !important;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	font-weight: bold;
	margin-top: 2px;
	margin-right: 5px;
}
.logo:hover{
	background: #f50 !important;
}
.column{
	padding-left: 0px !important;
}
.discussionBtn{

	display: inline-block;
	padding: 6px 0px 0px 10px;
	background-color: #3b3b3b;
	color: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin:10px;
}
#q{
	cursor: pointer;
}
#s{
	cursor: pointer;	
}
.discussionBtnActive{
	background-color: #0fa508;
	color: #fff;
}
.discussionBox{
	width: 600px;
	height: 400px;
	margin-bottom: 10px;
	overflow-y: scroll;

}
.answerBullet{

	display: inline-block;
	background-color: #3b3b3b;
	color: #fff;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}
.answerBtn{
	margin-left: 30px;
	color: blue;
	cursor: pointer;
}
.answerBtn textarea{
	color: black;
}
.answer{
	display: block;
	margin-left: 75px;
}
.answerBox{
	position:absolute;
	margin-left: 5px;
	margin-top:20px;
}
.singleDiscussion{
	padding: 5px;
}
.singleMember{
  display: block;
  font-size: 20px;

}
.singleMember img{
  margin-right: 10px;
  
}

.postBtn{
	width: 100px;
}