*{
	padding: 0px;
	margin:0px;
}
ul li{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.column{
	padding-left: 0px !important;
}
.discussionBtn{

	display: inline-block;
	padding: 6px 0px 0px 10px;
	background-color: #3b3b3b;
	color: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin:10px;
}
#q{
	cursor: pointer;
}
#s{
	cursor: pointer;	
}
.discussionBtnActive{
	background-color: #0fa508;
	color: #fff;
}
.discussionBox{
	width: 600px;
	height: 400px;
	margin-bottom: 10px;
	overflow-y: scroll;

}
.answer{
	margin-left: 30px;
	color: blue;
	cursor: pointer;
}
.singleDiscussion{
	padding: 10px;
}
.singleMember{
  display: block;
  font-size: 20px;

}
.singleMember img{
  margin-right: 10px;
  
}

.postBtn{
	width: 100px;
}