<div class="container"> 
<h3>Choose your course</h3>
        <div class="col-md-8 column">
            <div class="row clearfix">
                <div class="col-md-8 column"  ng-controller="">
				<table class="table margin-top-20">
					<tr><td><b>New Course</b></td><td></td></tr>
					<tr><td>Price (Rs)</td><td>9500</td></tr>
					<tr><td><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#enroll_options">Enroll</button>
				      <div id="enroll_options" class="collapse out">
				      		Want to enroll as an <button type="button" class="btn btn-info">Individual</button> OR 
				      		Want to enroll as a <button type="button" class="btn btn-info">Team</button>

				      </div>
				    </td>
					</tr>
				</table>

                </div>
            </div>
        </div>

</div>