<div class="container"  ng-init="$scope.tab=4"> 
<h3>Choose your course</h3>
        <div class="col-md-8 column">
            <div class="row clearfix">
                <div class="col-md-8 column"  ng-controller="CoursesController as cc">
				<table class="table margin-top-20" ng-repeat="course in cc.unenCourses">
					<tr><td><b>{{course.name}}</b></td><td></td></tr>
					<tr><td>Price</td><td>{{course.price}} $</td></tr>
					<tr><td><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#enroll_options">Enroll</button>
				      <div id="enroll_options" class="collapse out">
				      		Want to enroll as an <button type="button" class="btn btn-info">Individual</button> OR 
				      		Want to enroll as a <button type="button" class="btn btn-info">Team</button>

				      </div>
				    </td><td></td>
					</tr>
				</table>

                </div>
            </div>
        </div>

</div>