<link href="assets/css/profile.css" type="text/css" rel="stylesheet">

<div id="container" ng-controller="ProfileController as p">
	<div id="top_section">
		<div class="small_box">
			<image ng-src={{p.user.imgUrl}} >
				
		</div>
		<div class="small_box">
			User data
			{{p.user.name}}
			{{p.user.email}}
		</div>
		<div class="small_box">
			User activity
		</div>				
	</div>

	<div id="mid_section">
		Badges
	</div>

	<div id="bot_section">
		Courses
		<div ng-repeat="course in p.user.courses">
			{{course.name}}
			{{course.totalChapters}}
			{{course.completedChapters}}
			{{course.startedOn}}
			{{course.level}}
		</div>
	</div>
</div>
