

<link href="assets/css/profile.css" type="text/css" rel="stylesheet">


<div id="container" ng-controller="ProfileController as Profile">

    <div class="row">
    <div class="span12">

	<div id="top_section" class="row">
		<div class="small_box col-md-4">
			<img class="img-thumbnail span2" src="assets/img/avatar1.png" />
		</div>
		<div class="small_box col-md-4">
			<table class="table margin-top-40">
				<tr><td><b style="font-size:1.6em">{{Profile.user.name}}</b></td></tr>
				<tr><td>{{Profile.user.email}}</td></tr>
				<tr><td>Joined on 20 Jan 2015 </td></tr>
			</table>
		
			

		</div>
		<div class="small_box col-md-4 row">
			User activity
			<img class="img-thumbnail span4" src="assets/img/useractivity.png"/>
		</div>				
	</div>


	<div id="bot_section"  ng-init="$scope.profiletab=1">
		<ul class="nav nav-tabs" role="tablist" id="myTab">
	  		<li role="presentation" ng-class="{active:$scope.profiletab===1}" ng-click="$scope.profiletab=1"><a href="" aria-controls="courses" role="tab" data-toggle="tab">Courses</a></li>
	  		<li role="presentation" ng-class="{active:$scope.profiletab===2}" ng-click="$scope.profiletab=2" ><a href="" aria-controls="stud_badges" role="tab" data-toggle="tab">Student Badges</a></li>
	    	<li role="presentation" ng-class="{active:$scope.profiletab===3}" ng-click="$scope.profiletab=3"><a href="" aria-controls="team_badges" role="tab" data-toggle="tab">Team Badges</a></li>
		</ul>

		<div class="tab-content">
	  		<div role="tabpanel" class="tab-pane" id="courses" ng-class="{active:$scope.profiletab===1}">
	  			<table class="table courses-table margin-left-20 margin-top-20" >
	  				<tr ng-repeat="course in Profile.user.courses">
	  					<td>{{course.id}}</td>
	  					<td>{{course.name}}</td>
	  					<td><img class="course-levels" src="assets/img/levels/{{course.level}}.png"/></td>
	  					<td>Started on {{course.startedOn |  dateToISO | date:'MM/dd/yyyy'}}</td>
	  					<td ><span ng-hide="!course.completedOn =='0000-00-00 00:00:00'">Not Completed</span><span ng-hide="course.completedOn =='0000-00-00 00:00:00'">Completed on : {{course.completedOn }}</span></td>

                   </tr>
   
	  			</table>
	  		</div>
	  		<div role="tabpanel" class="tab-pane" id="stud_badges" ng-class="{active:$scope.profiletab===2}">
<table class="table-badges table" class="table">
<tr>
   <td><img class="badges-img"  style=" filter: grayscale(0);-webkit-filter: grayscale(0%); filter: grayscale(0%);" src="assets/img/student_badges/self.png"/></td>
   <td>Self-Motivated</td>
   <td >

   		<div class="progress">
  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
  		aria-valuemin="0" aria-valuemax="100" style="width:90%">
   				 90% 
  		</div>
		</div>
	</td>
  </tr>

  <tr>
   <td><img class="badges-img"  style=" filter: grayscale(.5);-webkit-filter: grayscale(50%); filter: grayscale(50%);"  src="assets/img/student_badges/inquisitive.png"/></td>
   <td>Inquisitive</td>
   <td >
   		<div class="progress">
  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
  		aria-valuemin="0" aria-valuemax="100" style="width:80%">
   				 80%  
  		</div>
		</div></td>
  </tr>

   <tr>
   <td><img class="badges-img"  style=" filter: grayscale(1);-webkit-filter: grayscale(100%); filter: grayscale(100%);"  src="assets/img/student_badges/talkative.png"/></td>
   <td>Talkative</td>
   <td ><div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  </div>
</div></td>
  </tr>


  <tr>
   <td><img class="badges-img"  style=" filter: grayscale(1);-webkit-filter: grayscale(100%); filter: grayscale(100%);"  src="assets/img/student_badges/student.png"/></td>
   <td>Student</td>
   <td ><div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
  aria-valuemin="0" aria-valuemax="100" style="width:60%">
    60%
  </div>
</div></td>
  </tr>


    <tr>
   <td><img class="badges-img"  style=" filter: grayscale(1);-webkit-filter: grayscale(100%); filter: grayscale(100%);"  src="assets/img/student_badges/quick.png"/></td>
   <td>Quick lear</td>
   <td >
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
  aria-valuemin="0" aria-valuemax="100" style="width:40%">
    40% 
  </div>
   </td>
  </tr>

     <tr>
   <td><img class="badges-img"  style=" filter: grayscale(1);-webkit-filter: grayscale(100%); filter: grayscale(100%);"  src="assets/img/student_badges/guru.png"/></td>
   <td>Guru</td>
   <td >
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:35%">
    35% 
  </div>
   </td>
  </tr>
     <tr>
   <td><img class="badges-img"  style=" filter: grayscale(1);-webkit-filter: grayscale(100%); filter: grayscale(100%);"  src="assets/img/student_badges/revival.png"/></td>
   <td>Revival</td>
   <td >
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    30% 
  </div>
   </td>
  </tr>
     <tr>
   <td><img class="badges-img"  style=" filter: grayscale(1);-webkit-filter: grayscale(100%); filter: grayscale(100%);"  src="assets/img/student_badges/legendary.png"/></td>
   <td>Legendary</td>
   <td >
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:20%">
    20% 
  </div>
   </td>
  </tr>
     <tr>
   <td><img class="badges-img"  style=" filter: grayscale(1);-webkit-filter: grayscale(100%); filter: grayscale(100%);"  src="assets/img/student_badges/student.png"/></td>
   <td>Student</td>
   <td >
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:10%">
    10% 
  </div>
   </td>
  </tr>

</table>
          






	  		</div>
	  	  	<div role="tabpanel" class="tab-pane" id="team_badges" ng-class="{active:$scope.profiletab===3}">

                                      
<table class="table-badges table" class="table">


<tr>
   <td><img class="badges-img"  style=" filter: grayscale(0);-webkit-filter: grayscale(0%); filter: grayscale(0%);" src="assets/img/team_badges/committed.png"/></td>
   <td>Commited</td>
   <td >

   		<div class="progress">
  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
  		aria-valuemin="0" aria-valuemax="100" style="width:90%">
   				90% 
  		</div>
		</div>
	</td>
  </tr>


  <tr>


   <td><img class="badges-img"  style=" filter: grayscale(.2);-webkit-filter: grayscale(20%); filter: grayscale(20%);" src="assets/img/team_badges/communicative.png"/></td>
   <td>Communicative</td>
   <td >

   		<div class="progress">
  		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
  		aria-valuemin="0" aria-valuemax="100" style="width:90%">
   				 80% 
  		</div>
		</div>
	</td>
  </tr>



  <tr>
   <td><img class="badges-img"  style=" filter: grayscale(5);-webkit-filter: grayscale(50%); filter: grayscale(50%);" src="assets/img/team_badges/coperative.png"/></td>
   <td>Coperative</td>
   <td >

   		<div class="progress">
  		<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50"
  		aria-valuemin="0" aria-valuemax="100" style="width:50%">
   				 50% 
  		</div>
		</div>
	</td>
  </tr>

  <tr>
   <td><img class="badges-img"  style=" filter: grayscale(90);-webkit-filter: grayscale(90%); filter: grayscale(90%);" src="assets/img/team_badges/leader.png"/></td>
   <td>Leader</td>
   <td >

   		<div class="progress">
  		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10"
  		aria-valuemin="0" aria-valuemax="100" style="width:10%">
   				 10% 
  		</div>
		</div>
	</td>
  </tr>


  </table>
<!-- 


	  			<ul>
	  				<li><img src="assets/img/team_badges/committed.png"/></li>
	  				<li><img src="assets/img/team_badges/communicative.png"/></li>
	  				<li><img src="assets/img/team_badges/coperative.png"/></li>
	  				<li><img src="assets/img/team_badges/creative.png"/></li>
	  				<li><img src="assets/img/team_badges/leader.png"/></li>
	  			</ul>	 -->  	  		
	  	  	</div>
		</div>
	</div>
</div>
</div>
</div>


