<script src="assets/js/Chart.min.js"></script>
<script src="app/chart.js"></script>

<div class="container" ng-init="$scope.tab=2" class="col-md-12">


    <div ng-controller="Discussion as discussion">
        <div class="row clearfix">
            <div class="col-md-8 row">
                <h3>Discussion on #AngularJs <i class="fa fa-volume-up"></i></h3>
                <div class="discussionBox col-md-11">
                    <ul>
                        <li class="singleDiscussion" ng-repeat="discuss in discussion.data">
                            <span class="discussionBtn" ng-show="{{discuss.type=='q'}}">Q</span>
                            <span class="discussionBtn" ng-show="{{discuss.type=='s'}}">S</span>
                            {{discuss.username+' : '+discuss.text}}
                            <span class="answerBtn" ng-click="discussion.activateAnswer[$index]=1" class="btn" ng-show="{{discuss.type=='q'}}">  <button class="btn-info">Answer  this </button>
                            <textarea class="answerBox" ng-show="discussion.activateAnswer[$index]===1" ng-model="discussion.answerTemp[$index]" ng-enter="discussion.answerEntered($index)"></textarea></span>
                            <span class="answer" ng-repeat="answer in discuss.answers">
                            <span class="answerBullet"></span>{{answer.username+' : '+answer.text}}
                            </span>
                        </li>
                        <li class="singleDiscussion" ng-show="discussion.liveDiscuss.text.length>0">
                            <span class="discussionBtn">{{discussion.liveDiscuss.type| uppercase}}</span> {{discussion.liveDiscuss.username+' : '+discussion.liveDiscuss.text}}
                        </li>

                    </ul>

                </div>


           
  <textarea required class="col-md-6 " ng-enter="discussion.doSubmit()" ng-model="discussion.liveDiscuss.text"></textarea>
            <div class="col-md-4 column">
                <span class="discussionBtn" ng-class="{'discussionBtnActive': discussion.getActiveBtn()=='q'}" ng-click="discussion.setActiveBtn('q')" id="q">Q</span>
                <span class="discussionBtn" ng-class="{'discussionBtnActive': discussion.getActiveBtn()=='s'}" ng-click="discussion.setActiveBtn('s')" id="s">S</span>
                <button type="button" class="postBtn btn btn-success" ng-click="discussion.doSubmit()">Post</button>
            </div>
             </div>

 

             <div class="col-md-4 column">

        <div class="row clearfix">
            <div class="col-md-8 column" ng-controller="TeamMember">
                <h3><i class="fa fa-group"></i> Team mates</h3>
                <hr/>
                <span class="singleMember" ng-repeat="data in team">

                        <img ng-src="{{data.avatar}}" width="25" height="25"></img>

                        <t>{{data.username}}</t> <button ng-hide="data.teamlevel!=10" class="review-btn btn-info">Review</button>
                    </span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 column" ng-controller="BarCtrl">

                <h3><i class="fa fa-bar-chart"></i> Team performance</h3>
                <hr/>
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels"></canvas>


            </div>


        </div>
        <div class="row">
            <div class="col-md-12 column">
                <button type="button" class="btn btn-danger">Leave this group</button>
            </div>

        </div>
    </div>


        </div>
   <!--      <div class="row clearfix">
           <textarea required class="col-md-4 column" ng-enter="discussion.doSubmit()" ng-model="discussion.liveDiscuss.text"></textarea>
            <div class="col-md-4 column">
                <span class="discussionBtn" ng-class="{'discussionBtnActive': discussion.getActiveBtn()=='q'}" ng-click="discussion.setActiveBtn('q')" id="q">Q</span>
                <span class="discussionBtn" ng-class="{'discussionBtnActive': discussion.getActiveBtn()=='s'}" ng-click="discussion.setActiveBtn('s')" id="s">S</span>
                <button type="button" class="postBtn btn btn-success" ng-click="discussion.doSubmit()">Post</button>
            </div>
        </div>
 -->
       
    </div>
</div>